<div class="container">
  <div class="row">
    <div class="col-4 me-2">
      <h1>{{movie.movie_name}}</h1>
      <img class="indmovie" src="{{movie.movie_img}}" alt="{{movie.movie_name}} poster">
    </div>
    <div class="col-6 mt-5 ms-auto">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <button class="btn btn-primary" id="fav" name="fav" type="button" data-movie="{{movie.movie_name}}"
                data-user="{{user.username}}">{{fav}}</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-info ms-2" id="watched" name="watched" type="button"
                data-movie="{{movie.movie_name}}" data-user="{{user.username}}">{{watch}}</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-success position-relative ms-2" id='view' {{view}}
                data-movie="{{movie.movie_name}}" data-user="{{user.username}}" name="view" type="button">Seen <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{movie.views}}
                  <span class="visually-hidden">views</span>
                </span></button>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <p class="card-text">Release Year: {{movie.release_year}}</p>
          <p class="card-text">Director: {{movie.director}}</p>
          <p class="card-text">Overall Rating: {{movie.rating}}</p>
          <p class="card-text">Cast:</p>
          <ul>
            {{#each movie.cast}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          <p>Genre:</p>
          <ul>
            {{#each movie.genre}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          <a href="{{movie.streaming_service.link}}" class="btn btn-danger">Watch Now On
            {{movie.streaming_service.name}}</a>
        </div>
      </div>
      <div class="card">
        <h2 class="card-header">Reviews</h2>
        <div class="card-body">
          <ul class="list-group">
            {{#each reviews}}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                {{#if_eq this.username ../user.username}}
                <div class="fw-bold"><a href="/private">{{this.username}}</a></div>
                {{else}}
                <div class="fw-bold"><a href="/private/{{this.username}}">{{this.username}}</a></div>
                {{/if_eq}}
                {{this.review}}
                <button name="report" class="btn btn-primary report" data-username="{{../user.username}}"
                  data-revid="{{this._id}}">Report</button>
              </div>
              <span class="badge bg-primary rounded-pill">{{this.rating}}</span>
            </li>
            {{/each}}
          </ul>
          <br>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Write Review
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Review</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/reviews/postReview" id="submitReview" method="post">
          <div class="container">
            <div class="row">
              <div class="form-group">
                <label for="rating">Rating:</label>
                <input class="form-control" id="rating" type="number" min="1" max="5">
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label for="review">Review:</label>
                <textarea name="review" id="review" class="form-control"></textarea>
              </div>
            </div>
            <br>
            <div class="form-group">
              <button class="btn btn-primary" type="button" id="addNewReview" data-movie="{{movie.movie_name}}"
                data-user="{{user.username}}">Post Review</button>
            </div>
          </div>
          <div id="error">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>