<main>
  <div class='char'>
    <h1>{{movie.movie_name}}</h1>
    <a href="/">Home Page</a><br><br>
    <img alt="{{movie.movie_name}}" src="/{{movie.movie_img}}" /><br><br>
    <button type="button">Favorite</button>
    <button type="button">+Watched</button>
    <button id='view' type="button">View</button>
    <label for="view">{{movie.views}}</label>
    <br><br>
    <span title="services">Streaming Services:
    <a href="{{movie.streaming_service.link}}">{{movie.streaming_service.name}}</a>
    </span><br><br>
    <span title="release_year">Release Year: {{movie.release_year}}</span><br><br>
    <span title="director">Director: {{movie.director}}</span><br><br>
    <span title="cast">Cast: <ul>
        {{#each movie.cast}}
        <li>{{this}}</li>
        {{/each}}
      </ul></span><br><br>
    <span title="genres">Genres: <ul>
        {{#each movie.genre}}
        <li>{{this}}</li>
        {{/each}}
      </ul></span><br><br>
    <span title="rating">OverAll Rating: {{movie.rating}}</span><br>
    <span>Reviews:
      <form action="/reviews/postReview" id="submitReview" method="post">
        <br><label>Rating: <input id="rating" type="number" min="0" max="5"></label><br>
        <br><label>Review: <textarea id="review"></textarea></label>
        <br><button type="button" id="addNewReview" data-movie="{{movie.movie_name}}" data-user="{{user.username}}">Submit
          Review</button>
      </form>
      <div id="reviews">
        {{#each reviews}}
        {{this.username}}<br>{{this.review}}<br>{{this.rating}}</div>
      {{/each}}
  </div>
   </span>
  </div>
</main>