<!-- {{!-- <head>
	<meta charset='UTF-8' />

	<title>Private</title>
</head>
<body> --}}
	<main>
	<h1>This is Private</h1>
	<h2>User Details</h2>

	<h3>Welcome back, {{name}}</h3>
	<h3>username: {{username}}</h3>
	<h3>Edit Profile:</h3>
	<form action='/private' method='post' id='userEdit-form'>

		<div class='container'>
			<label for='name'><b>Name:</b></label>
			<input type='text' id='name' placeholder='Enter Your Name' name='name' />
			<br />
			<label for='date_of_birth'><b>DOB:</b></label>
			<input
				type='date'
				min='1920-09-08'
				max='2012-09-08'
				id='date_of_birth'
				placeholder='Enter Your DOB'
				name='date_of_birth'
			/>
			<br />
			{{! <label for='username'><b>Username:</b></label>
			<input
				type='text'
				id='username'
				placeholder='Enter Username'
				name='username'
			/>
			<br /> }}
			<label for='private'><b>Private Account?</b></label><br />
			<input type='radio' id='true' name='fav_language' value='true' />Yes<br />
			<input type='radio' id='false' name='fav_language' value='false' />No<br
			/>
			 
			<label for='password'><b>Password:</b></label>
			<input
				type='password'
				id='password'
				placeholder='Enter Password'
				name='password'
			/>
			<br />
			<button type='submit'>Confirm</button>
		</div>
	</form>
	<p class='error'>
		{{error}}
	</p>

	<a href='/logout'>LogOut</a>
	</main>
{{!-- </body> --}} -->

<div class='container'>
	<div class='row justify-content-center'>
		<div class='col-6 mt-1'>
			<h1 class='text-center mt-3 mb-2'>{{user.name}}</h1>
			<p class='lead text-center'>{{user.email}}</p>
			<p class='lead text-center'>Followers:
				{{user.followers.length}}
				| Following:
				{{user.following.length}}</p>

			<!-- <h6 class="lead text-center">({{user.date_of_birth}})</h6> -->
			<div class='user-avatar'>
				<img class='img-avatar' src='/{{user.profile_pic}}' alt='User avatar' />
			</div>
			<form action='/private' method='post' id='private-form' class='mt-4 mb-2'>
				<div class='form-group text-center'>
					<label class='switch' for='private'>Private</label>
					<label class='switch'>
						<input id='private' type='checkbox' name='private' value='false' />
						<span class='slider round'></span>
					</label>
				</div>
			</form>
			<form
				action='/private'
				method='post'
				id='userEdit-form'
				class='mt-4 mb-2'
			>
				<div class='form-group'>
					<label for='name'>Name</label>
					<input
						type='text'
						class='form-control'
						id='name'
						name='name'
						value='{{user.name}}'
					/>
				</div>

				<div class='form-group'>
					<label for='newpass'>New Password</label>
					<input
						type='password'
						class='form-control'
						id='newpass'
						placeholder='Enter your new password'
						name='password'
					/>
				</div>
				<div class='form-group'>
					<label for='password'>Confirm Password</label>
					<input
						type='password'
						class='form-control'
						id='password'
						name='newpass'
						placeholder='Confirm your new password'
					/>
				</div>

				<button type='submit' class='btn btn-danger'>Update Account Details</button>
			</form>
		</div>
	</div>
	<br>
	<div class="row justify-content-center">
		<div class="card w-50">
			<div class="card-body">
				<h5 class="card-title">Favourites</h5>
				<ul class="list-group">
					{{#each user.favourites}}
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">{{this}}</div>
						</div>
						<i class="bi bi-trash"></i>
					</li>
					{{/each}}
				</ul>
				<br>
				<a href="/movies/all" class="btn btn-outline-danger">Watch Now</a>
			</div>
			<hr>
			<div class="card-body">
				<h5 class="card-title">Watchlist</h5>
				<ul class="list-group">
					{{#each user.watchlist}}
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">{{this}}</div>
						</div>
						<i class="bi bi-trash"></i>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>